<!DOCTYPE html>
<html>

<head>
    <title>blank</title>
    <style>
        /* box */
        .box {
            height: 50vh;
            width: 100vw;
            display: flex;
            background-color:skyblue;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    </style>
</head>

<body>
    <!-- box -->
    <div class="box">
        <img src="../assests/images/resume2.jpg" height="100px" width="100px">
        <img src="../assests/images/table.jpg" height="100px" width="100px">
        <img src="../assests/images/form.jpg" height="100px" width="100px">
         <img src="../assests/images/box5.webp" height="150px" width="150px">
                <img src="../assests/images/flags.jpg" height="150px" width="150px">
                <img src="../assests/images/aud-vi-im.png" height="150px" width="150px">
    </div>
</body>

</html>

<div>
    <img src="../assests/images/movies hd.png" height="150px" width="150px">
    <br>
    <ul>
       <li> <a href="../movies/movies-one.html">Movies-one</a></li>
       <li> <a href="../movies/movies-two.html">Movies-two</a></li>
    </ul>
</div>
    <img src="../assests/images/list2.jpg" height="150px" width="150px">
    <img src="../assests/images/form5.jpg" height="150px" width="150px">
    <img src="../assests/images/resume2.jpg" height="150px" width="150px">
    <img src="../assests/images/table.jpg" height="150px" width="150px">
    <img src="../assests/images/box5.webp" height="150px" width="150px"> 




    <img src="../assests/images/form5.jpg" height="150px" width="150px">
    <img src="../assests/images/resume2.jpg" height="150px" width="150px">
    <img src="../assests/images/table.jpg" height="150px" width="150px">
    <img src="../assests/images/box5.webp" height="150px" width="150px"> 

    <ul>
        <li> <a href="../movies/movies-one.html">Movies-one</a></li>
        <li> <a href="../movies/movies-two.html">Movies-two</a></li>
    </ul>
    <ul>
        <li> <a href="../list.html">List-project</a></li>
    </ul>

    <a href="../movies/movies-one.html"><button type="button">Click to proceed</button></a>